<div class="select_size_and_sizing_guide">
  <div class="row">
    <div class="col-xl-9 col-xs-12 hidden-md-down select_size">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="blue_heading">Select size</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2">
          <div class="size_option active">
            <div class="size">All units</div>
            <div class="description">View all unit sizes</div>
          </div>
        </div>

        <% 4.times do %>
          <div class="col-xs-2">
            <div class="size_option">
              <div class="size">Small</div>
              <div class="description">Descritpion of units goes here</div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-xl-3 col-xs-12 sizing_guide">
      <h3 class="blue_heading">Sizing guide</h3>
      <div class="images">
        <%= image_tag 'locations/in_show/storage_units/sizing_guide_ruler.svg', class: 'ruler' %>
        <%= image_tag 'locations/in_show/storage_units/sizing_guide_video_preview.jpg', class: 'video_preview' %>
      </div>
    </div>
  </div>
</div>

<div class="unit_options">
  <div class="row hidden-md-down table_head">
    <div class="col-xs-2"></div>
    <div class="col-xs-2">Size</div>
    <div class="col-xs-2">Features</div>
    <div class="col-xs-2">Promotion</div>
    <div class="col-xs-2">Monthly price</div>
    <div class="col-xs-2 "></div>
  </div>

  <% 3.times do %>
    <div class="row table_row">
      <div class="col-md-2 hidden-md-down size_help">
        <span class="underline">Size Help</span>
      </div>
      <div class="col-md-2 col-xs-6 size">
        <h5 class="hidden-md-up mobile_heading">Size</h5>
        <div class="text-md-left">SMALL<br>4x4</div>
        <span class="hidden-md-up size_help mobile">Size Help</span>
      </div>
      <div class="col-md-2 col-xs-6 features">
        <h5 class="hidden-md-up mobile_heading">Features</h5>
        <ul>
          <li>
            <%= image_tag 'locations/in_show/storage_units/tick_icon.svg', class: 'tick_icon' %>
            Climate Control
          </li>
          <li>
            <%= image_tag 'locations/in_show/storage_units/tick_icon.svg', class: 'tick_icon' %>
            Interior
          </li>
          <li>
            <%= image_tag 'locations/in_show/storage_units/tick_icon.svg', class: 'tick_icon' %>
            Locker Upper
          </li>
          <li>
            <%= image_tag 'locations/in_show/storage_units/tick_icon.svg', class: 'tick_icon' %>
            Item
          </li>

        </ul>
      </div>
      <div class="col-md-2 col-xs-6 promotion">
        <h5 class="hidden-md-up mobile_heading">Promotion</h5>
        <%= image_tag 'locations/in_show/storage_units/promotion_50_sale.svg' %>
      </div>
      <div class="col-md-2 col-xs-6 monthly_price">
        <h5 class="hidden-md-up mobile_heading">Monthly Price</h5>

        <div class="in_dollars">$38</div>
        <div class="online_rate_footnote">*Online Rate</div>
        <div class="in_dollars_in_store">$59 In Store</div>
      </div>
      <div class="col-md-2 col-xs-12 continue">
        <div class="button blue">Continue</div>
      </div>
    </div>
  <% end %>
</div>