<main id="home_page">

  <section class="find_storage">
    <!-- background -->
    <div class="slider">
      <div class='slide_1'></div>
      <div class='slide_2'></div>
      <div class='slide_3'></div>
    </div>
    <!-- /background -->

    <div class="container-fluid">
      <div class="find_storage_rectangle">
        <h4>Find Storage in Your Area</h4>
        <%= react_component('FindStorageDropdown', { storages: @all_storages })%>
      </div>
    </div>

    <div class="blue_strip"></div>
  </section>

  <section class="featured_specials">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 special featured_locations">
          <h4 class="header">Featured Locations</h4>
          <%= render partial: 'static_pages/in_home/carousel' %>
        </div>

        <div class="col-lg-4 special free_truck">
          <%= image_tag 'static_pages/home/featured_specials/free_truck.png' %>
        </div>

        <div class="col-lg-4 special in_the_news">
          <h4 class="header">In The News</h4>
          <img src="http://placehold.it/350x250">
        </div>
      </div>
    </div>
  </section>

  <section class="blog_articles">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-xs-12 article">
          <h4 class="heading">Storing Collectable Posters</h4>
        </div>
        <div class="col-md-4 col-xs-12 article">
          <h4 class="heading">Saving Space: Futon Vs Bed</h4>
        </div>
        <div class="col-md-4 col-xs-12 article">
          <h4 class="heading">Organize Your Garage in 3 Steps</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-xs-12 article">
          <%= image_tag 'static_pages/home/blog/posters.jpg' %>
        </div>
        <div class="col-md-4 col-xs-12 article">
          <%= image_tag 'static_pages/home/blog/futon.jpg' %>
        </div>
        <div class="col-md-4 col-xs-12 article">
          <%= image_tag 'static_pages/home/blog/garage.jpg' %>
        </div>
      </div>

      <%= link_to 'Read More', '', class: 'button read_more' %>
    </div>
  </section>

  <section class="ti_storage_benefits">
    <div class="container-fluid">
      <h4 class="heading">Treasure Island Storage Benefits</h4>
      <div class="row">
        <div class="col-lg-2 col-sm-4 col-xs-6 offset-lg-1 benefit">
          <%= image_tag 'static_pages/home/benefits/promotions.svg' %>
          <div class="name">Promotions & Specials</div>
          <p class="popover">
            Find the best deal when renting a unit with Treasure Island Storage.
          </p>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 benefit">
          <%= image_tag 'static_pages/home/benefits/moving-services.svg' %>
          <div class="name">Free Moving Services</div>
          <p class="popover">
            There are 2 options for moving, Treasure Island Storage offers free use of our corporate van, or a 2-hour professional moving service.
          </p>
        </div>

        <div class="col-lg-2 col-sm-4 col-xs-6 benefit">
          <%= image_tag 'static_pages/home/benefits/express-check.svg' %>
          <div class="name">Express Check-In</div>
          <p class="popover">
            Save time by renting a storage unit online, you are able to pick a space at the best rate by using your device. Then come into the office to sign the paper and move right in.
          </p>
        </div>

        <div class="col-lg-2 col-sm-6 col-xs-6 benefit">
          <%= image_tag 'static_pages/home/benefits/variety-of.svg' %>
          <div class="name">Variety of Unit Sizes</div>
          <p class="popover">
            Treasure Island Storage has a variety of units that range from a small closet size to custom warehouse spaces for commercial purposes
          </p>
        </div>

        <div class="col-lg-2 col-sm-6 benefit">
          <%= image_tag 'static_pages/home/benefits/climate.svg' %>
          <div class="name">Climate Control</div>
          <p class="popover">
            Store in a temperature controlled environment to preserve and protect precious items kept in storage
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="ti_family_of_businesses">
    <div class="container-fluid">
      <h4 class="heading">Treasure Island TI Family of Businesses</h4>

      <div class="businesses">
        <a class="left" href="http://www.tiartstudios.com">
          <%= image_tag 'static_pages/home/businesses/art.png' %>
        </a>

        <a class="right" href="<%= commercial_storage_path %>">
          <%= image_tag 'static_pages/home/businesses/commercial.png' %>
        </a>

      </div>
    </div>
  </section>

</main>
