<main id="storage_solutions_page">

  <div class="blue_page_heading">
    <h1>Storage Solutions</h1>
  </div>

  <div class="container-fluid">
    <div class="find_storage_space_near_you">
      <section class="title">
        Find Storage Space Near You
      </section>
      
      <section class="search_field">
        <input type="text" placeholder="City, Zip Code" class="find_storage_input" value="Red Hook, Brooklyn 11235">
        <div class="button search">Search</div>
      </section>

      <section class="ad">
        <%= image_tag 'common/ads/labor-sale-horizontal.png' %>
      </section>

      <section class="sizing_guide_preview">
        <h6>Sizing Guide</h6>
        <div class="image_and_play_icon">
          <%= image_tag 'common_elements/sizing_guide_preview.jpg', class: "preview_image" %>
          <%= image_tag 'common_elements/play-icn.svg', class: 'play_icon' %>
        </div>
      </section>

      <section class="list_of_links">
        <h6>List Of Links</h6>

        <ul>
          <% 5.times do |i| %>
            <li>
              <%= link_to "Link #{i}" %>
            </li>
          <% end %>
        </ul>
      </section>
    </div>

    <div class="actual_page">
      <section class="heading_with_background">
        <div class="background"></div>
        <h1>Header image</h1>
      </section>

      <section class="storage_types">
        <h5 class="subheading">Subheading Font:</h5>

        <div class="tabs row">
          <div class="col-xs-4">
            <ul class="navigation" role="tablist">
              <% 6.times do |i| %>
                <li class="nav-item">
                  <a class="nav-link <%= i == 0 ? 'active' : '' %>" data-toggle="tab" href="#storage_type_<%= i %>" role="tab">Storage Type <%= i %></a>
                </li>
              <% end %>
            </ul>
          </div>

          <div class="col-xs-8">
            <div class="row tab-content_and_weird_rectangle">
              <div class="tab-content col-xs-8">
                <% 6.times do |i| %>
                  <div class="tab-pane <%= i == 0 ? 'active' : '' %>" id="storage_type_<%= i %>" role="tabpanel">
                    <div class="underlined">
                      <h6 class="blue_heading">Blue Heading</h6>
                    </div>
                    <p><%= "#{i} " * 100 %></p>
                    <div class="search_field">
                      <input type="text" placeholder="City, Zip Code" class="find_storage_input" value="Red Hook, Brooklyn 11235">
                      <div class="button search">Search</div>
                    </div>
                  </div>
                <% end %>
              </div>

              <div class="col-xs-4 weird_grey_rectangle">
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="descriptions">
        <h5 class="subheading">Subheading Again</h5>
        <div class="row">
          <div class="col-xs-8">
            <div class="description">
              <h5 class="subheading">Text heading</h5>
              <% 3.times do %><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p><% end %>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="image_and_call_to_action">
              <div class="image">
                <%= image_tag 'common/ads/50_off.svg' %>
              </div>
              <div class="call_to_action">
                <h5 class="subheading">CALL TO ACTION!</h5>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.</p>
              </div>
            </div>

            <div class="description">
              <h5 class="subheading">Text heading</h5>
              <% 3.times do %><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has.</p><% end %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="description">
              <h5 class="subheading">FAQ question template</h5>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  
</main>

