<nav id="breadcrumbs" class="heading_font">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <%= link_to '< Back to Search', search_path %>
      </div>
    </div>
  </div>
</nav>

<main id="checkout_new_page">
  <div class="container-fluid">
    <%= render partial: '/checkout/in_new/step_navigation' %>

    <div class="sidebar_and_steps">
      <%= render partial: '/checkout/in_new/your_reservation' %>

      <% if session[:current_step] == 1 %>
        <%= render partial: '/checkout/in_new/step_1' %>
      <% elsif session[:current_step] == 2 %>
        <%= render partial: '/checkout/in_new/step_2' %>
      <% elsif session[:current_step] == nil %>
        <h1>Thank you for your order!</h1>
        <%= @reservation.attributes %>
      <% end %>
    </div>
  </div>
</main>