<ul class="location">
  <li>
    <div class="storage_details">
      <h1 class="city"><%= storage[:title] %></h1>

      <div class="row info">
        <div class="col-xs-6 photo">
          <%= image_tag "common/storages/#{storage[:id]}.jpg" %>
        </div>
        <div class="col-xs-6 details">

          <div class="miles_away">
            <%= image_tag 'common_elements/location_pin.svg' %>
            <span class="how_many">3 Miles Away</span>
          </div>

          <div class="address">
            <%= storage.full_address %><br>
            <b class="telephone"><%= storage[:phone] %></b>
          </div>

          <%# TODO render 'common/storage_rating' %>

          <a class="view_in_google_maps">
            View in Google Maps
          </a>
        </div>
      </div>

      <div class="row flex-items-xs-middle reserve_today_and_view_units">
        <div class="col-xs-6 reserve_today">
          <div class="red">Reserve Your Space Today</div>
          <div class="blue">646.846.9449</div>
        </div>

        <div class="col-xs-6 view_units">
        <%= link_to 'View units', storage.url, class: 'button blue' %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="units_starting_at">
            Units starting at <b>$<%= storage.min_unit_price %></b>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>