<section class="storage_solutions">
  <!-- href="#" is for styling -->
  <a href="#" class="nav_link toggler">
    Storage Solutions
  </a>

  <nav class="collapse">
    <%= link_to 'Commercial Storage', commercial_storage_path %>
    <%= link_to 'Household Storage', household_storage_path %>
    <%= link_to 'Wine Storage', wine_storage_path %>
    <%= link_to 'Boat Storage', boat_storage_path %>
    <%= link_to 'Car Storage', car_storage_path %>
    <%= link_to 'Art Storage', art_storage_path %>
  </nav>
</section>
