<h2>Edit <%= @storage.title %></h2>
<%= form_for([:admin, @storage]) do |f| %>
  <div class="form-group">
    <%= f.label :place_id %>
    <%= f.text_field(:place_id, class: "form-control") %>
  </div>
  <div class="form-group">
    <%= f.label :link_to_google %>
    <%= f.text_field(:link_to_google, class: "form-control") %>
  </div>
  <div class="form-group">
    <%= f.label :link_to_yelp %>
    <%= f.text_field(:link_to_yelp, class: "form-control") %>
  </div>
  <% if @storage.features.blank? %>
  <div class="form-group">
    <%= f.label(:features) %>
    <%= f.text_area(:features, class: "form-control") %>
  </div>
  <% end %>
  <div class="form-group">
    <%= f.label(:coordinates) %>
    <%= f.text_field(:coordinates, class: "form-control") %>
  </div>
  <div class="form-group">
    <%= f.label(:description_1) %>
    <%= f.text_area(:description_1, class: "form-control") %>
  </div>
  <div class="form-group">
    <%= f.label(:description_2) %>
    <%= f.text_area(:description_2, class: "form-control") %>
  </div>
  <div class="form-group">
    <%= f.label(:directions) %>
    <%= f.text_area(:directions, class: "form-control") %>
  </div>
  <%= f.submit(class: "btn btn-primary") %>
<% end %>
