place_id:<br/>
<%= @storage.place_id %>
<hr/>
link_to_google_maps:<br/>
<%= @storage.link_to_google_maps %>
<hr/>
link_to_google_reviews:<br/>
<%= @storage.link_to_google_reviews %>
<hr/>
link_to_yelp:<br/>
<%= @storage.link_to_yelp %>
<hr/>
features:<br/>
<ul>
  <% @storage.features.each do |feature| %>
  <li><%= feature %></li>
  <% end %>
</ul>
<hr/>
coordinates:<br/>
<%= @storage.coordinates %>
<hr/>
description_1:<br/>
<%= @storage.description_1 %>
<hr/>
description_1:<br/>
<%= @storage.description_1 %>
<hr/>
description_2:<br/>
<%= @storage.description_2 %>
<hr/>
directions:<br/>
<%= @storage.directions %>
<hr/>

<table class="table">
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% @storage.data.to_h.each do |key,value| %>
    <tr>
      <td><%= key %></td>
      <td><%= value %></td>
    </tr>
    <% end %>
  </tbody>
</table>
