<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-2 logo">
        <%= image_tag 'common/header/logo-header.png' %>
      </div>
      <div class="col-md-10 hidden-lg-down">
        <nav>
          <div class="links">
            <%= render(partial: 'common/in_header/locations') %>
            <%= link_to('Storage Solutions') %>
            <%= link_to('Why Store With Us') %>
          </div>

          <div class="live_chat">
            <%= image_tag 'common/live-chat-icn_red.svg' %>
            <span>Live Chat</span>
          </div>

          <div class="my_account button">
            My Account
          </div>
        </nav>
      </div>

      <nav class="col-xs-10 hidden-xl-up mobile_burger">

        <div data-toggle="modal" data-target="#mobile_collapsing_menu">
          <%= image_tag 'common/header/mobile_hamburger-menu.svg' %>
        </div>

        <div class="modal fade" id="mobile_collapsing_menu">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">

                <div data-dismiss="modal" class="close">
                  <%= inline_svg 'common/header/mobile_button-close-mobile-nav.svg' %>
                </div>
                
                <nav>
                  <div class="white">
                    <%= link_to('Locations') %>
                    <%= link_to('Storage Solutions') %>
                    <%= link_to('Why Store With Us') %>
                    <%= link_to('Live Chat') %>
                    <%= link_to('My Account') %>
                    <%= link_to('Contact Us') %>
                  </div>

                  <div class="grey">
                    <div>1-800-847-8672</div>
                    <a href="" class="email_us">Email Us</a>
                  </div>
                </nav>

              </div>
            </div>
          </div>
        </div>

      </nav>
    </div>
  </div>

  


</header>