<section class="photo_and_links">
  <%= image_tag storage_image_path(storage) %>

  <a href="<%= storage.link_to_google %>" class="read_reviews" target="_blank">Read Reviews</a>
  <a href="<%= storage.link_to_google_maps %>" target="_blank">Get Directions</a>
</section>

<section class="info">
  <h5 class="title"><%= storage.title %></h5>
  <div class="address">
    <%= storage.address %><br>
    <%= storage.area %> <%= storage.zip_code %>
  </div>
  <div class="phone_number"><%= storage.phone %></div>

  <div class="office_hours">
    <h6>Office hours</h6>

    <% storage.office_hours.each do |hours| %>
      <%= hours %><br>
    <% end %>
  </div>
</section>

<a class="arrow" href="<%= seo_storage_path(storage) %>">
  <%= image_tag '_common/arrow.svg' %>
</a>
