<section class="storage_view">
  <div class="row">
    <div class="col-lg-4 col-xs-7 main_photo">
      <%= image_tag "common/storages/#{storage[:id]}.jpg" %>
    </div>

    <div class="col-xs-5 hidden-lg-up mobile_additional_photos">
      <% 3.times do %>
        <%= image_tag 'http://placehold.it/82x52' %>
      <% end %>
    </div>
    <div class="clearfix hidden-lg-up"></div>

    <div class="col-lg-4 info">
      <div class="row">
        <div class="col-sm-6 details storage_details">
          <div class="address">
            <h6>Location</h6>
            <p><%= storage[:address] + ' ' + storage[:area] %></p>
          </div>

          <%= render 'common/storage_rating' %>
          <a class="read_reviews">Read Reviews</a>

          <a class="get_directions">GET DIRECTIONS</a>
        </div>

        <div class="col-sm-6">
          <div class="office_hours">
            <h6>Office hours</h6>
            <p>Mon-Sun 8:00am-7:00pm</p>
          </div>

          <div class="access_hours">
            <h6>Access hours</h6>
            <p>Mon-Sun 8:00am-7:00pm</p>
          </div>

          <div class="phone_number">
            <h6>Phone number</h6>
            <p><%= storage[:phone] %></p>
          </div>
        </div>
      </div>

      <div class="row hidden-md-down additional_photos">
        <div class="col-xs-12">
          <% 3.times do %>
            <%= image_tag 'http://placehold.it/82x52' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-lg-4 map">
      <iframe
        src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_MAPS_API_KEY']%>&q=<%= storage[:area] + ' ' + storage[:address] %>"
        allowfullscreen>
      </iframe>
    </div>
  </div>
</section>