<%= render partial: 'partials/breadcrumbs', locals: { links: [link_to('Locations'), 'Ozone Park, NY Self Storage - 123 Address Street'] } %>

<section id="locations_show_page">
  <div class="container-fluid">

    <div class="mobile_ad hidden-lg-up">
      <%= image_tag 'locations/show/labor-sale.svg' %>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h1 class="standard_page_heading">Reserve Your Space Today!</h1>
      </div>
    </div>

    <section class="search_field_and_ad">
      <div class="row">
        <div class="col-md-6 col-xs-12 search_field">
          <div class="showing_results_near">Showing Results Near:</div>

          <div class="row">
            <div class="col-xs-8">
              <input type="text" placeholder="City, Zip Code" class="find_storage_input">
            </div>
            <div class="col-xs-4">
              <div class="button search">Search</div>
            </div>
          </div>
        </div>

        <div class="col-md-6 hidden-md-down ad">
          <%= image_tag 'locations/show/labor-sale.svg' %>
        </div>
      </div>
    </section>

    <%= render partial: 'locations/in_show/location_view' %>

    <section class="extensive_information">
      <ul class="tab_navigation">
        <li class="nav-item"><a href="#storage_units" data-toggle="tab" class="active">Storage Units</a></li>
        <li class="nav-item"><a href="#features"      data-toggle="tab">Features</a></li>
        <li class="nav-item"><a href="#directions"    data-toggle="tab">Directions</a></li>
        <li class="nav-item"><a href="#videos"        data-toggle="tab">Videos</a></li>
        <li class="nav-item"><a href="#reviews"       data-toggle="tab">Reviews</a></li>
        <li class="nav-item"><a href="#holders"       data-toggle="tab">Holders</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="storage_units">
          <%= render partial: 'locations/in_show/storage_units' %>
        </div>
        <div class="tab-pane" id="features">...b</div>
        <div class="tab-pane" id="directions">c</div>
        <div class="tab-pane" id="videos">...</div>
        <div class="tab-pane" id="reviews">...</div>
        <div class="tab-pane" id="holders">...</div>
      </div>
    </section>

  </div>
</section>