<!DOCTYPE html>
<html>
  <head>
    <title>TiStorage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/in_application/header' %>
    <%= yield %>
    <%= render partial: 'layouts/in_application/footer' %>
  </body>
</html>