<!DOCTYPE html>
<html>
  <head>
    <title>TiStorage</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %>_controller <%= action_name %>_action">
    <%= render partial: 'layouts/in_application/header' %>
    <%= yield %>
    <%= render partial: 'layouts/in_application/footer' %>

    <script data-turbolinks-eval=false>
      const GOOGLE_MAPS_API_KEY = "<%= ENV['GOOGLE_MAPS_API_KEY'] %>";
    </script>

    <script data-turbolinks-eval=false type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places"></script>

    <!-- live chat -->
    <script data-turbolinks-eval=false type="text/javascript">
      window.__lc = window.__lc || {};
      window.__lc.license = 6496151;
      (function() {
        var lc = document.createElement('script');
        lc.type = 'text/javascript';
        lc.async = true;
        lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(lc, s); }
      )(); 
    </script>
  </body>
</html>
