<!DOCTYPE html>
<html>
  <head>
    <title>TiStorage</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %>_controller <%= action_name %>_action">
    <%= render partial: 'layouts/in_application/header' %>
    <%= yield %>
    <%= render partial: 'layouts/in_application/footer' %>

    <script data-turbolinks-eval=false>
      const GOOGLE_MAPS_API_KEY = "<%= ENV['GOOGLE_MAPS_API_KEY'] %>";
    </script>

    <script data-turbolinks-eval=false type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places"></script>

    <!-- option to get a Mailshimp subscription on / -->
    <!-- isDebug: true requires firebug -->
    <script data-turbolinks-eval=false type="text/javascript" src="https://s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
  </body>
</html>
