<header class="desktop hidden-md-down <%= @header_navigation_is_hidden ? 'invisible' : '' %>">
  <a href="<%= root_path %>" class="logo">
    <%= image_tag('layouts/header/logo-header.png') %>
  </a>

  <div class="phone">
    <%= image_tag '_common/phone.png' %>
    <span>646-846-9449</span>
  </div>

  <%= react_component('Header_DropdownMenus', {
    storages: @all_storages,
    categories: @all_categories
  }) %>

  <!-- https://docs.livechatinc.com/js-api/#open-the-chat-window -->
  <div class="live_chat" onclick="LC_API.open_chat_window();">
    <%= image_tag '_common/live-chat-icn_red.svg' %>
    <span>Live Chat</span>
  </div>

  <%= link_to("My Account", myaccount_path, class: "my_account button") %>
</header>

<%= render(partial: 'layouts/in_application/header.mobile') %>
