<header>
  <div class="container-fluid heading_font">
    <div class="row">
      <div class="col-xs-2 logo">
        <%= link_to image_tag('common/header/logo-header.png'), root_path %>
      </div>

      <div class="col-md-10 hidden-md-down">
        <nav class="<%= 'invisible' if @header_navigation_is_hidden %>">
          <div class="links">
            <%= render(partial: 'layouts/in_application/in_header/locations') %>
            <%= render(partial: 'layouts/in_application/in_header/storage_solutions') %>
            <%= render(partial: 'layouts/in_application/in_header/why_store_with_us') %>
          </div>

          <div class="live_chat">
            <%= image_tag 'common/live-chat-icn_red.svg' %>
            <span>Live Chat</span>
          </div>

          <%= link_to("My Account", myaccount_path, class: "my_account button") %>
        </nav>
      </div>

      <%= render(partial: 'layouts/in_application/header_responsive') %>
    </div>
  </div>
</header>
