<header class="desktop hidden-md-down">
  <a href="<%= root_path %>" class="logo">
    <%= image_tag('layouts/header/logo-header.png') %>
  </a>

  <a href="tel:646-846-9449" class="phone">
    <%= image_tag '_common/phone.png' %>
    <span>646-846-9449</span>
  </a>

  <%= react_component('Header_DropdownMenus', {
    storages: @all_storages,
    categories: @all_categories
  }) %>

  <!-- https://docs.livechatinc.com/js-api/#open-the-chat-window -->
  <div class="live_chat" onclick="LC_API.open_chat_window();">
    <%= image_tag '_common/live-chat-icn_red.svg' %>
    <span>Live Chat</span>
  </div>

  <a href="https://estore.centershift.com/account/login.aspx?accountID=6d096698-a9d3-4fc8-92bc-aea7c1c1df74" class="my_account button">My Account</a>
</header>

<%= render(partial: 'layouts/in_application/header.mobile') %>
